<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All Books</title>
</head>
<body>
	<h2>Your Books</h2>
	<form>
		<table>
			<tr th:each="currentBook : ${books}">
				<td th:text="${currentBook.id} + ')'" />
				<td th:text="${currentBook.title} + ', '" />
				<td th:text="'By: ' + ${currentBook.author}" />
				<td th:text="'(' + ${currentBook.bookInfo.bookType} + ', '" />
				<td th:text="${currentBook.bookInfo.genre} + ', '" />
				<td th:text="${currentBook.bookInfo.pages} + ' pages)'" />
				<td><a th:href="@{/edit/{id}(id=${currentBook.id})}">Edit</a></td>
				<td><a th:href="@{/delete/{id}(id=${currentBook.id})}">Delete</a></td>
			</tr>
		</table>
	</form>
	<a href="addBook">Add New Book</a>
</body>
</html>